@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

* {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(233, 137, 255);
}
h1{
    text-align: center;
    border: solid ;
    color: rgb(0, 0, 0);
    background-color:rgb(0, 0, 0);
}

header {
    position: relative;
    padding: 0 2rem;
}

div {
    text-align: center;

}

img {
    width: 50%;
    border-radius: 20%;
    margin-top: 2%;
}

li {
    color: white;
    text-align: center;
}
ul {
    display: inline-block;
    vertical-align: center;
    width: 20%;
    margin-right: 15%;
}
h2{

text-align: center;
color:rgb(95, 0, 71);
}