@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

* {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #000;
    background-image: url(https://wallpaperaccess.com/full/48753.jpg);
    background-size: cover;
    background-position: center;
}
h1{
    text-align: center;
    border: solid ;
    color: purple;
    background-color:purple;
}

header {
    position: relative;
    padding: 0 2rem;
}

div {
    text-align: center;

}

img {
    width: 60%;
    border-radius: 50%;
    margin-top: 2%;
}

