@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

* {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-shadow: 2px 2px 51px  black;   
}

body {
    background-color: rgb(236, 175, 250);
}
h1{
    text-align: center;
    border: solid ;
    background-color:rgb(0, 0, 0);
    color: #d4a1ec;
    text-shadow: 2px 2px 1px  rgb(179, 0, 0);
}

header {
    position: relative;
    padding: 0 2rem;
}

div {
    text-align: center;

}

img {
    width: 50%;
    border-radius: 20%;
    margin-top: 2%;
}

li {
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 2px 2px 10px  black;
}
ul {
    display: inline-block;
    vertical-align: center;
    width: 20%;
    margin-right: 15%;
}
h2{

text-align: center;
color:rgb(95, 0, 71);
}
.produtos {
    text-align: center;
}
